/* header */
.wrapper {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 1480px;
    height: 1282px;
}
.logo {
    display: flex;
    align-items: flex-end;
    text-align: center;
    width: 334px;
    height: 79px;
    font-size: 80px;
    color: rgba(0, 0, 0, 1);
    margin: 63px 0 20px 98px;
}
.logo-span {
    color: rgba(75, 202, 255, 1);
}
.nav-menu {
    background-color: rgba(53, 68, 79, 1);
    display: flex;
    text-align: center;
    justify-content: center;
    width: 1280px;
    height: 69px;
    margin: 20px 100px 25px 100px;
    padding: 0;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    padding: 34px;
    justify-content: center;
    border-right: 1px solid #ffffff;
    font-size: 24px;
    color: #ffffff;   
}
.nav-menu-item:first-child {
    border-left: 1px solid #fff;
    }
.nav-menu-item:hover {
    background-color: rgba(34, 47, 58, 1);
}

/* /header */

/* main */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.aside-menu-left {
    align-items: center;
    justify-content: center;
    font-size: 27px;
    width: 344px;
    height: 399px;
    border: 1px solid rgba(0, 0, 0, 1) ;
    margin: 49px 0 0 100px;
    padding: 0;
    color: #485863;
}
.aside-left-list {
    padding: 23px;
    
}

.aside-left-list:hover {
    background-color: rgba(219, 219, 219, 1);
    color: rgba(0, 0, 0, 1) ;
}
.aside-list-link:hover {
    padding: 0 0 0 40px;
    
}
.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 49px 0 20px 52px;
}
.main-img:hover {
    border: 1px solid rgba(75, 202, 255, 1);
}
.main-img-link {
    width: 320px;
    height: 381px;
    transition: transform 1.00s;
}
.main-img-link:hover {
    transform: scale(1.3);
}
.main-content-text {
    width: 885px;
    height: 120px;
    font-size: 18px;
    margin: 17px 100px 20px 496px;
}
.text-link {
    margin: 0 0 34px 0;
}

/* /main */

/* footer  */

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    margin: 197px 100px 30px 100px;
    color: rgba(12, 25, 39, 1);

}
.footer-menu-text {
    display: flex;
    font-size: 28px;
    margin: 0 27px;
    border-bottom: 1px solid #fff;
}
.footer-menu-text li {
    margin: 13px;
    padding: 13px 0 13px 0;
   
}
.text-item:hover {
    color: rgba(49, 129, 166, 1);
    border: 1px;
    border-bottom-style: solid;
    border-bottom-color:rgba(49, 129, 166, 1);
    
}
.footer-signature {
    font-size: 24px;
    width: 190px;
    margin: 0 40px 0 103px;
    color: rgba(1, 1, 1, 1);
}
/* /footer  */